body {
  background-color: #6b4f3a;
  font-family: "Cinzel", serif;
}

header {
  background-color: #d6b98c;
  border-radius: 100px;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  color: #6b4f3a;
  font-size: large;
  text-align: center;
}

#money {
  font-size: 30px;
  width: auto;
}

main {
  background-color: #603411;
  border-radius: 30px;
  width: 100%;
  height: 610px;
  align-items: center;
  display: flex;
}

main div {
  margin: 27px;
}

#lefttopbox {
  background-color: #d6b98c;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  color: #6b4f3a;
  font-family: "Cinzel", serif;
  font-size: large;
  text-align: center;
  font-weight: bolder;
}

#leftbottombox {
  background-color: #d6b98c;
  border-radius: 20px;
  width: 350px;
  height: 200px;
  text-align: center;
}

#righttopbox {
  background-color: #d6b98c;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  color: #6b4f3a;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

#rightbottombox {
  background-color: #d6b98c;
  border-radius: 20px;
  width: 350px;
  height: 200px;
}

#sectionmiddle {
  flex-grow: 1;
  text-align: center;
}

.overskrift {
  color: #6b4f3a;
  font-family: "Cinzel", serif;
  font-size: x-large;
  text-align: center;
}

#level {
  color: #6b4f3a;
}

#rightBottom {
  color: #6b4f3a;
  font-family: "Cinzel", serif;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

#levelUp {
  background-color: #8b5e3c;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-weight: bold;
}

.buy {
  background-color: #8b5e3c;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: large;
  margin: 2px;
  width: 260px;
}
.buy:active {
  transform: translateY(4px);
}

#levelup:active {
  transform: translateY(4px);
}

#pluss {
  text-decoration: none;
  background-color: #d6b98c;
  padding: 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 80px;
}

#minus {
  background-color: #d6b98c;
  margin: 30px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 80px;
}
#buttons button {
  font-size: 35px;
  font-weight: 300px;
}

#pluss:active {
  transform: translateY(4px);
}

#minus:active {
  transform: translateY(4px);
}

#money {
  color: #6b4f3a;
  font-family: "Cinzel", serif;
  font-size: large;
  text-align: center;
}

#cof:active {
  transform: translateY(4px);
}
